body,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  background-color: white;/*#FFF7EE; /*#DFE0DF*/
}

h1 {
    font-size: 45px !important;
}

.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif;
}

form label {
    font-size: 22px !important;
}

#create {
    border-radius: 10px;
    font-size: 20px;
    padding: 4px;
    background-color: #e4740c;
    cursor: pointer;
    color: white;
}

.create {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    clear: both;
}

form select {
    display: block;
}

input.instance {
    border: 0;
    border-radius: 0px;
    background-color: #E4CB0C;
    display: block;
    clear:both;
    padding: 1em;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 95%;
    font-size: 20px;
    color: #7C440C;
}

input.instance:hover {
    background-color: #E4740C;
}

input.instance:disabled {
    background-color: #C4640C;
}

#instances {
    text-align: center;
}

#progress {
    text-align: center;
    font-size: 20pt;
    border-style: solid;
    border-color: #7C440C;
    margin: 0 auto;
    width: 300px;
    color: white;
}
 