* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.container {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #fff;
}

#loginContainer, #signupContainer {
  width: 500px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

#loginForm, #signupForm {
  width: 100%;
  position: relative;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 180px;
}

#loginForm > span, #signupForm > span {
  font-family: JosefinSans-Bold;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #67BD7E;
  padding-top: 50px;
  padding-bottom: 39px;
}

#signupForm > span {
  background-color: #2F9A7F;
}

#loginForm input[type=submit], #signupForm input[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #67BD7E;
  border-radius: 25px;
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}

#signupForm input[type=submit] {
  background-color: #2F9A7F;
}

.error {
  padding-top: 40px;
  text-align: center;
  position: relative;
  color: red;
  margin: 10px;
}

.container input {
  outline: none;
  border: none;
}

#signupNow {
	display: flex;
	flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 50px;
}

#signupNow span {
  font-family: Ubuntu-Regular;
  padding-bottom: 10px;
  font-size: 15px;
  color: #999999;
  line-height: 1.4;
}

#signupNow a {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #67BD7E;
  line-height: 1.4;
  text-transform: uppercase;
}

.input {
  margin-bottom: 16px;
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #1b3815;
  line-height: 1.2;
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  background: #ebebeb;
  border-radius: 27px;
  padding: 0 35px 0 35px;
}

.pageErr {
  position: absolute;
  width: 500px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 30pt;
  color: #67BD7E;
}
