<html>
<head>
  <title>Litescale</title>
  <link type="text/css" rel="stylesheet" href="/static/css/litescale_login.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/litescale_home.css" />

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div id="bar" class="w3-bar w3-card w3-left-align w3-large">
    <a href="/home" id="home" class="w3-bar-item w3-button w3-padding-large w3-hover-white">HOME</a>
    <a href="/start" id="start" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Start</a>
    <a href="/new" id="new" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">New</a>
    <a href="/gold" id="gold" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Gold</a>
    <a href="/authorization" id="auth" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Authorization</a>
    <a href="/delete" id="del" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Delete</a>
    <a id="in" href="/login" style="float: right !important;" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log-In</a>
    <a id="out" href="/logout" style="float: right !important;" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log-Out</a>
    <span id="us" style="float: right !important;" class="w3-bar-item w3-hide-small w3-padding-large"></span>
    <span id="delAcc" class="w3-bar-item w3-hide-small w3-padding-large" onclick="delete_account()">Delete your account<span>  
  </div>
</div>