{% include 'header.html' %}

<script>
function delete_account(project_id){
    if (confirm("Are you sure you want to delete the account?")) {
        window.location.href = "delete_account";
    }
}
</script>

<h1>Welcome, {{user}}</h1><br>

<ul>
<li><a href="/{{user}}/start">Start/continue</a></li>
<li><a href="/{{user}}/gold">Generate gold standard</a></li>
<li><a href="/{{user}}/new">Create new project</a></li>
<li><a href="/{{user}}/delete">Delete project</a></li>
<li><a href="/{{user}}/authorization">Get authorization</a></li>
<li><p onclick="delete_account()"><u>Delete account<u></p></li>
<ul>


<br><a href="logout">Log out</a>

{% include 'footer.html' %}