{% include 'header.html' %}

<div class="welcome">
<span>Welcome, {{user}}</span>
<a id="logout" href="logout">Log out</a>
</div>
<hr>
<div>
    <div>
        <div>
            <span><a href="/{{user}}/start">Start or continue to annotate yours projects</a><span>
        </div>
        <div>
            <span><a href="/{{user}}/gold">Generate the gold standard file of a project</a><span>
        </div>
        
            <span><a href="/{{user}}/new">Create a new project</a><span>
        </div>
        <div>
            <span><a href="/{{user}}/authorization">Give permission for your project to another user</a><span>
        </div>
        <div>
            <span><a href="/{{user}}/delete">Delete a your project (All annotations made will be deleted)</a><span>
        </div>
        <div>
            <span><p onclick="delete_account()">Delete your account</p><span>
        </div>
    </div>
</div>

<script>
function delete_account(){
    if (confirm("Are you sure you want to delete the account?")) {
        window.location.href = "delete_account";
    }
}
</script>

{% include 'footer.html' %}