{% include 'header.html' %}

<div class="container">
    <div id="loginContainer">
        <form id="loginForm" action="/login" method="POST">
            <span>Login Now!</span>
            <input class="input" type="text" name="email" placeholder="Email">
            <input class="input" type="password" name="password" placeholder="Password">
            <input type="submit" value="Sign-In">

            <div class="error">
            {% if error==True %}
                <span> {{ msg }} </span>
            {% endif%}
            </div>

            <div id="signupNow">
                <span>Don’t have an account?</span>
                <a href="signUp">Sign up now</a>
            </div>
        </form>
    </div>
</div>

<script>
window.onload = function(){
  $("#out").hide();
  $("#in").hide();
  $("#start").hide();
  $("#new").hide();
  $("#delAcc").hide();
  $("#gold").hide();
  $("#del").hide();
  $("#auth").hide();
  $("#ar").hide();
  $("#bar").css("background-color","#67BD7E");
 }
</script>

{% include 'footer.html' %}