{% include 'header.html' %}

<!-- Header -->
<header id="head" class="w3-container w3-center" style="padding-top:40px">
  <h1 id="title" class="w3-margin">Create a new project</h1>
</header>


<div class="w3-container" style="width:35%; margin: 0 auto;">
    <form style="text-align:left; padding:30px;"class="w3-container" name="new" action="" method="post" enctype="multipart/form-data">
        <label style="color:#e4740c">Project name</label>
        <input class="w3-input w3-border w3-light-grey" name="project_name" type="text" size="40"/><br/>
        <label style="color:#e4740c">Phenomenon (e.g., offensive, positive)</label>
        <input class="w3-input w3-border w3-light-grey" name="phenomenon" type="text" /><br/>
    
        <label style="color:#e4740c">Dimension of the tuples</label>
        <select class="w3-select" name="tuple_size">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected="selected">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br/>

        <label style="color:#e4740c">Replication of the instances</label>
        <select class="w3-select" name="replication">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected="selected">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br/>
        
        <label style="color:#e4740c">Load instances from tab-separated file (<a href="/example">Example file</a>)</label>
        <input type="file" name="instance_file" /><br>

        <div class="create">
        <input id="create" type="submit" value="Create"/>
        </div>
    </form>
</div>


<div class="w3-center w3-text-red w3-margin w3-xlarge">
    <p id="msg"> {{ msg }}<p>
</div>
{% include 'footer.html' %}

<script>
window.onload = function(){
    $("#in").hide();
    $("#delAcc").hide();
    $("#authorization").hide();
    $("#bar").css("background-color","#e4740c");
    $("#head").css("background-color","#e4740c");
    $("#title").css("color","white");
    document.getElementById("new").classList.add("w3-white");
}
</script>
