{% include 'header.html' %}

<!-- Header -->
<header id="head" class="w3-container w3-center" style="padding-top:40px;">
  <h1 id="title" class="w3-margin"></h1>
</header>

<div class="w3-container">
    <p id="p" class="w3-xlarge w3-center w3-margin"></p>
    <form style="margin-top: 10px; text-align:center; font-size:22px;" id="authorization" name="authorization" action="" method="post">
    User: <input id="user" name="user"/><br>
    <input  style="margin-left:50px" type="radio" id="auth" name="option" value="give" checked>
    <label>Authorize</label>
    <input type="radio" name="option" value="remove">
    <label>Deauthorize</label>
    <input id="project_id_a" name="project_id" type="hidden" value=""><br>
    </form>
    <table style="margin-top: 20px; color:black" class="w3-table w3-hoverable w3-large w3-card-4">    
        <thead>
            <tr class="w3-light-grey">
                <th>Project Name</th>
                <th>Phenomenon</th>
                <th>Tuple Size</th>
                <th>Replication instances</th>
                <th>Progress</th>
                <th>Project Owner</th>
            </tr>
        </thead>
        
        {%for project in project_list:%}
        <tr class="el" onclick="post_request('{{project['projectId']}}')">
            <td>{{project['projectName']}}</td>
            <td>{{project['phenomenon']}}</td>
            <td>{{project['tuplesize']}}</td>
            <td>{{project['replicate']}}</td>
            <td>{{'%0.2f' % progress_list[project['projectId']] |float}}%</td>
            <td>{{project['projectOwner']}}</td>
        </tr>    
        {% endfor %}

        <form id="request_project" method="post" action="">
            <input id="project_id" name="project_id" type="hidden" value="">
        </form>

    </table>   
</div>

<div class="w3-center w3-text-red w3-margin w3-xlarge">    
    <p id="msg"> {{ msg }}</p>
</div>

{% include 'footer.html' %}


<script>
window.onload = function(){
        $("#in").hide();
        $("#delAcc").hide();
        $("#authorization").hide();
        if ("{{action}}" == "start"){
            $("#bar").css("background-color","#E4740C");
            document.getElementById("start").classList.add("w3-white");
            $("#head").css("background-color","#E4740C");
            document.getElementById("title").innerHTML = "Start or continue to annotate yours projects"
            $("#title").css("color","white");
            $(".el").css("color","white");
            $("#p").text("Click the project you want to annotate");
            $("#p").css("color","#E4740C");
            $(".el").css("background-color","#E4740C");
            $('.el').hover(function(){
                $(this).css("background-color","#E4CB0C")},
                    function () {$(this).css("background-color","#E4740C")});        
        }
        else if ("{{action}}" == "gold"){
            $("#bar").css("background-color","#E4740C");
            $("#head").css("background-color","#E4740C");
            $("#title").css("color","white");
            $("#p").css("color","#E4740C");
            $(".el").css("color","white");
            $(".el").css("background-color","#E4740C");
            $('.el').hover(function(){
                $(this).css("background-color","#E4CB0C")},
                    function () {$(this).css("background-color","#E4740C")});
            $("#p").text("Click the project of which you want to generate the gold file");
            document.getElementById("title").innerHTML = "Generate the gold standard file of a project";
            document.getElementById("gold").classList.add("w3-white");
            }
        else if ("{{action}}" == "delete"){
            $("#p").text("Click the project you want to delete");
            document.getElementById("title").innerHTML = "Delete a your project"; 
            document.getElementById("del").classList.add("w3-white");
            $("#bar").css("background-color","#DC8EAA");
            $("#head").css("background-color","#DC8EAA");
            $("#title").css("color","white");
            $("#p").css("color","#DC8EAA");
            $(".el").css("color","white");
            $(".el").css("background-color","#dba7ba");
            $('.el').hover(function(){
                $(this).css("background-color","#DC8EAA")},
                    function () {$(this).css("background-color","#dba7ba")});
        }
        else if ("{{action}}" == "authorization"){
            $("#p").text("Enter the user, choose the option and click on the desired project");
            $("#authorization").show();
            document.getElementById("title").innerHTML = "Authorize a user to annotate your project"; 
            document.getElementById("auth").classList.add("w3-white");
            $("#bar").css("background-color","#B383AF");
            $("#head").css("background-color","#B383AF");
            $("#title").css("color","white");
            $("#p").css("color","#B383AF");
            $(".el").css("color","white");
            $(".el").css("background-color","#b59cb3");
            $('.el').hover(function(){
                $(this).css("background-color","#B383AF")},
                    function () {$(this).css("background-color","#b59cb3")});
        }
}

function post_request(project_id){
    if ("{{action}}" == 'delete'){
        if (confirm("Are you sure you want to delete the project?")) {
            document.getElementById('project_id').value=project_id;
            document.getElementById('request_project').submit();
        }
    } else if ("{{action}}" == 'authorization'){
        if (confirm("Are you sure you want to authorize/deauthorize this user?")) {
            document.getElementById('project_id_a').value=project_id;
            document.getElementById('authorization').submit();
        }
    }
    else {
        document.getElementById('project_id').value=project_id;
        document.getElementById('request_project').submit();
    }
}
</script>