<html>
<head>
    <title>Litescale</title>
    <link type="text/css" rel="stylesheet" href="/static/css/litescale_login.css" />

</head>
<body>

<div class="container">
    <div id="signupContainer">
        <form id="signupForm" action="/signUp" method="POST">
            <span>Welcome to litescale!</span>
            <input class="input" type="text" name="email" placeholder="Email">
            <input class="input" type="password" name="password" placeholder="Password">
            <input type="submit" value="Sign-Up">

            <div class="error">
            {% if error==True %}
                <span> {{ msg }} </span>
            {% endif%}
            </div>

        </form>
    </div>
</div>


{% include 'footer.html' %}