{% include 'header.html' %}

<div class="container">
    <div id="signupContainer">
        <form id="signupForm" action="/signUp" method="POST">
            <span>Welcome to litescale!</span>
            <input class="input" type="text" name="email" placeholder="Email">
            <input class="input" type="password" name="password" placeholder="Password">
            <input type="submit" value="Sign-Up">

            <div class="error">
            {% if error==True %}
                <span> {{ msg }} </span>
            {% endif%}
            </div>
        </form>
    </div>
</div>

<script>
window.onload = function(){
  $("#out").hide();
  $("#in").hide();
  $("#start").hide();
  $("#new").hide();
  $("#gold").hide();
  $("#del").hide();
  $("#auth").hide();
  $("#delAcc").hide();
  document.getElementById("bar").classList.add("w3-red");
  document.getElementById("home").classList.add("w3-red");
}
</script>

{% include 'footer.html' %}