{% include 'header.html' %}

<div class="flex-col-c logincontainer">
    <div class="wraplogin">
        <form class="loginform p-l-55 p-r-55 p-t-178" action="/signUp" method="POST">
            <span class="loginformtitle signup">Welcome to litescale!</span>
            <div class="wrapinput m-b-16">
                <input class="input" type="text" name="email" placeholder="Email">
            </div>
            <div class="wrapinput">
                <input class="input" type="password" name="password" placeholder="Password">
            </div>
            <div class="containerloginbtn">
                <button type="submit" class="signupbtn loginbtn">Sign Up</button>
            </div>
            <div class="error p-t-40 text-center pos-relative">
            {% if error==True %}
                <span> {{ msg }} </span>
            {% endif%}
            </div>
        </form>
    </div>
</div>